{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="site-section">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-6">
                <h2 class="mb-4">{{cat_name}}</h2>
            </div>
        </div>
        <div class="row blog-entries">
            <div class="col-md-12 col-lg-8 main-content">
                <div class="row mb-5 mt-5">
                    <div class="col-md-12">

                        {% for article in posts %}

                        <div class="post-entry-horzontal">
                            <a href="/blog-single/{{article.slug}}/">
                                <div class="image element-animate" data-animate-effect="fadeIn"
                                     style="background-image:url({{article.preview_image.url}})"></div>
                                <span class="text">
<div class="post-meta">
<span class="category">{{article.category}}</span>
<span class="mr-2">{{article.created_at}} </span> &bullet;
<span class="ml-2"><span class="fa fa-comments"></span> {{article.com_num}}</span>
</div>
<h2>{{article.title}}</h2>
</span>
                            </a>
                        </div>

                        {% endfor %}


                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <nav aria-label="Page navigation" class="text-center">
                            <ul class="pagination">
                                {% if posts.has_previous %}
                                <li class="page-item  active"><a class="page-link"
                                                                 href="?page={{ posts.previous_page_number }}">Prev</a>
                                </li>
                                {% endif %}
                                {% for i in p.page_range %}
                                {% if posts.number == i %}
                                <li class="page-item active"><a class="page-link"
                                                                href="?page={{ i }}">{{ i }}</a></li>
                                {% else %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ i }}">{{ i }}</a></li>

                                {% endif %}

                                {% endfor %}
                                {% if posts.has_next %}
                                <li class="page-item  active"><a class="page-link"
                                                                 href="?page={{ posts.next_page_number }}">Next</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-4 sidebar">
                <div class="sidebar-box search-form-wrap">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon fa fa-search"></span>
                            <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
                        </div>
                    </form>
                </div>

                <div class="sidebar-box">
                    <div class="bio text-center">
                        <img src="images/xperson_1.jpg.pagespeed.ic.n01-szf7gg.jpg" alt="Image Placeholder"
                             class="img-fluid">
                        <div class="bio-body">
                            <h2>Meagan Smith</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem facilis sunt
                                repellendus excepturi beatae porro debitis voluptate nulla quo veniam fuga sit molestias
                                minus.</p>
                            <p><a href="#" class="btn btn-primary btn-sm">Read my bio</a></p>
                            <p class="social">
                                <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="sidebar-box">
                    <h3 class="heading">Popular Posts</h3>
                    <div class="post-entry-sidebar">
                        <ul>


                            {% for article in popular_posts %}

                            <li>
                                <a href="">
                                    <img src="{{article.preview_image.url}}" alt="Image placeholder"
                                         class="mr-4" data-pagespeed-url-hash="392048005"
                                         onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                    <div class="text">
                                        <h4>{{article.title}}</h4>
                                        <div class="post-meta">
                                            <span class="mr-2">{{article.created_at}} </span> &bullet;
                                            <span class="ml-2"><span class="fa fa-comments"></span> {{article.com_num}}</span>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            {% endfor %}


                        </ul>
                    </div>
                </div>

                <div class="sidebar-box">
                    <h3 class="heading">Categories</h3>
                    <ul class="categories">


                        {% for cat in cats %}

                        <li><a href="/category/?name={{cat.name}}">{{ cat.name }} <span>({{ cat.num }})</span></a></li>

                        {% endfor %}


                    </ul>
                </div>

                <div class="sidebar-box">
                    <h3 class="heading">Tags</h3>
                    <ul class="tags">


                        {% for tag in tags %}

                        <li><a href="#">{{ tag.name }}</a></li>

                        {% endfor %}


                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}